@charset "UTF";

header, nav, main, footer{
    background: blue;
    margin: 8px;
    color: aliceblue;
}

body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header     header"
      "nav         nav"
      "mian        main"
      "footer      main"

    ;
}

header{
grid-area: header;
}

nav{
grid-area: nav;
}

main{
grid-area: main;
}

footer{
    grid-area: footer;
}
