@charset "UTF";

header, nav, main, footer{
    background: blue;
    margin: 8px;
    color: aliceblue;
}

body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
    "header     header"

    ;
}

A{
grid-area: A;
}

B{
grid-area: B;
}

C{
grid-area: C;
}

D{
    grid-area: D;
}
  

